@media screen and (max-width: 1200px) 
    .boby{
        margin: 0;
        font-family: Nunito Sans;
    }
    
    .boby{
        box-sizing: border-box;
    }
    
    .container{
        max-width: 1760px;
        margin: auto;
    }
    
    .button_header{
        border-radius: 2px;
        background: #E3B873;
        box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.20);
        outline: 0;
        border: 0;
        padding: 13px 33px;
        color: white;
        text-transform: uppercase;
        font-style: italic;
        overflow: visible;
        height: 37px;
    }
    
    .logo{
        color: #E3B873;
        font-family: Nunito Sans;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;
        width: 180px;
        height: 10px;
        flex-shrink: 0;
        margin-left: 92px;
    }
    
    .header{
        background-color: black;
    }
    
    .header-content{
        display: flex;
        justify-content: space-between;
        height: 83px;
        width: 1440px;
        align-items: center;
    }
    
    .header-navigation{
        list-style: none;
        display: flex;
    }
    
    .header-navigation_item{
        font-family: Nunito Sans;
        color: #FFF;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        height: 10px;
        flex-shrink: 0;
        text-align: justify;
        word-spacing: 47px;
    }
    
    .header-navigation_item{
        margin-right: 47px;
    }
    
    .header-navigation_item a{
        text-decoration: none;
        color: white;
    }
    
    .phone{
        color: #E3B873;
        text-align: right;
        font-family: Nunito Sans;
        font-size: 11px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-decoration-line: underline;
        width: 126px;
        height: 16px;
        flex-shrink: 0;
    }
    
    .hero{
        background-image: url('../мебель/JPG/hero.jpg');
        background-size: cover;
        width: 1440px;
        height: 707px;
        padding-top: 194px;
    }
    
    .hero-overlay{
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba (0, 0, 0, .7);
    }
    
    .hero-container{
        position: relative;
        z-index: 1;
        margin-top: 194px;
        margin-bottom: 408px;
        margin-left: 134px;
        margin-right: 627.77px;
    }
    
    .title_drawing_1{
        margin: 0;
        color: #FFF;
        font-family: Yeseva One;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 53px;
        text-transform: uppercase;
    }
    
    .title_color_drawing_1{
        margin: 0;
        color: #E3B873;
        font-family: Yeseva One;
        font-size: 40px;
        font-style: normal;
        font-weight: 400;
        line-height: 53px;
        text-transform: uppercase;
    }
    
    .title_text_drawing_1{
        color: #FFF;
        font-family: Nunito Sans;
        font-size: 22px;
        font-style: normal;
        font-weight: 400;
        line-height: 36.01px;
        width: 504px;
        height: 89px;
        flex-shrink: 0;
        margin-top: 19px;
    }
    
    .button_drawing_1{
        color: #FFF;
        text-align: center;
        font-family: Nunito Sans;
        font-size: 11px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
        width: 124px;
        height: 11.347px;
        flex-shrink: 0;
        width: 207px;
        height: 51px;
        border-radius: 2px;
        background: #E3B873;
        box-shadow: 0px 5px 15px 0px rgba(227, 184, 115, 0.30);
        padding: 448px, 1096.88px, 208px, 134px;
        margin-top: 41px;
    }
    
    .button_drawing_2{
        color: #FFF;
        text-align: center;
        font-family: Nunito Sans;
        font-size: 11px;
        font-style: italic;
        font-weight: 400;
        line-height: normal;
        width: 162px;
        height: 11.347px;
        width: 207px;
        height: 51px;
        flex-shrink: 0;
        border-radius: 2px;
        border: 1px solid #FFF;
        color: #FFFFFF;
        background-color: none;
        background-color: transparent;
    }
    
    .hero2{
        background-image: url('../мебель/JPG/hero2.jpg');
        background-size: cover;
        width: 1440px;
        height: 1074px;
        padding-top: 107px;
    }
    
    .hero2-container{
        display: flex;
        justify-content: space-between;
        height: 24px;
        width: 1440px;
        float: left;
    }
    
    /*.hero2-overlay{
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba (0, 0, 0, .7);
    }*/
    
    .title_navigation{
        list-style: none;
        display: flex;
    }
    
    .title_navigation_item{
        font-family: Yeseva One;
        color: rgba(255, 255, 255, 0.30);
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        height: 16.318px;
        flex-shrink: 0;
        text-align: left; 
        list-style-type: none;
        float: right;
    }
    
    .title_navigation_item{
        margin-left: 60.5px;
    }
    
    .title_navigation_item a{
        text-decoration: none;
        color:  rgba(255, 255, 255, 0.30);
    }
    .title_navigation_item_1{
        font-family: Yeseva One;
        color: #E3B873;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 19.404px;
        height: 16.318px;
        flex-shrink: 0;
        text-align: left;
        list-style-type: none; 
        padding-left: 626px;
        float: right;
    }
    
    .title-navigation_item_1{
        margin-left: 60.5px;
    }
    .title_navigation_item_1 a{
        text-decoration: underline;
        color: #E3B873;
    }
    
    .image_right{
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 679px;
        height: 482px;
        flex-shrink: 0;
        margin-right: 100.55px;
        margin-top: 76px;
        margin-bottom: 416px;
        margin-left: -626.45px;
    }
    
    .title_color_drawing_2_1{
        display: flex;
        color: #E3B873;
        font-family: Yeseva One;
        font-size: 27px;
        font-style: normal;
        font-weight: 400;
        line-height: 37.422px;
        letter-spacing: -1.89px;
        text-transform: uppercase;
        width: 253px;
        height: 66px;
        flex-shrink: 0;
        padding-left: 134.45px;
        padding-top: 70.36px;
        padding-bottom: 831.64px;
        padding-right: 1052.55px;
    }
    
    .title_color_drawing_2_2{
        display: flex;
        color: #FFFFFF;
        font-family: Nunito Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 190.96%;
        width: 442px;
        height: 86px;
        flex-shrink: 0;
        margin-left: 134.45px;
        margin-top: -829.55px;
    }
    
    .container hero2-container_3{
        width: 442px;
        height: 390px;
    }
    
    .title_color_drawing_3_1{
        display: flex;
        color: #E3B873;
        font-family: Yeseva One;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 138.6%;
        text-transform: uppercase;
        width: 66px;
        height: 22px;
        flex-shrink: 0;
        margin-left: 134.45px;
        margin-top: 42px;
    }
    
    .title_color_drawing_3_2{
        display: flex;
        color: #E3B873;
        font-family: Yeseva One;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 138.6%;
        text-transform: uppercase;
        width: 213px;
        height: 22px;
        flex-shrink: 0;
        margin-left: 324.45px;
        margin-top: -38px;
    }
    
    .title_color_drawing_3_3{
        display: flex;
        color: #FFF;
        font-family: Nunito Sans;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 163.68%;
        width: 161px;
        height: 42px;
        flex-shrink: 0;
        margin-left: 134.45px;
        margin-top: 9px;
    }
    .title_color_drawing_3_4{
        display: flex;
        color: #FFF;
        font-family: Nunito Sans;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 163.68%;
        width: 51px;
        height: 21px;
        flex-shrink: 0;
        margin-left: 324.45px;
        margin-top: -55px;
    }
    
    .title_color_drawing_3_5{
        display: flex;
        color: #E3B873;
        font-family: Yeseva One;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 138.6%;
        text-transform: uppercase;
        width: 156px;
        height: 22px;
        flex-shrink: 0;
        margin-left: 134.45px;
        margin-top: 52px;
    }
    
    .title_color_drawing_3_6{
        display: flex;
        color: #E3B873;
        font-family: Yeseva One;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 138.6%;
        text-transform: uppercase;
        width: 218px;
        height: 22px;
        flex-shrink: 0;
        margin-left: 324.45px;
        margin-top: -38px;
    }
    
    .title_color_drawing_3_7{
        display: flex;
        color: #FFF;
        font-family: Nunito Sans;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 163.68%;
        width: 103px;
        height: 24px;
        flex-shrink: 0;
        margin-left: 134.45px;
        margin-top: 9px;
    }
    .title_color_drawing_3_8{
        display: flex;
        color: #FFF;
        font-family: Nunito Sans;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 163.68%;
        width: 115px;
        height: 24px;
        flex-shrink: 0;
        margin-left: 324.45px;
        margin-top: -36px;
    }
    
    .navigation-line{
        align-items: center;
        justify-content: space-around;
        padding-right: 1098.87px;
        padding-top: 79.64px;
        padding-bottom: 414.72px;
        margin-left: 135.45px;
    }
    
    .title_chapter_conteiner{
        width: 196px;
        height: 66.79px;
    }
    
    .titie_chapter_1{
        color: #FFF;
        text-align: center;
        font-family: Yeseva One;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 138.6%;
        text-transform: uppercase;
        width: 196px;
        height: 26px;
        flex-shrink: 0;
        margin-top: -320px;
        margin-left: 645.45px;
    }
    
    .title_chapter_2_1{
        text-align: center;
        position: absolute;
        align-items: center;
        justify-content: space-around;
        padding-top: 10.81px;
        margin-left: 7.76px;
        margin-bottom: 257.21px;
        padding-left: 660.45px;
    }
    
    .title_chapter_2_2{
        text-align: center;
        position: absolute;
        align-items: center;
        justify-content: space-around;
        padding-top: -100.81px;
        padding-left: 700.45px;
        margin-left: 9px;
        margin-bottom: 257.21px;
    }
    
    .title_chapter_2_3{
        text-align: center;
        position: absolute;
        align-items: center;
        justify-content: space-around;
        padding-top: 10.81px;
        margin-left: 7.76px;
        margin-bottom: 257.21px;
        padding-left: 746.45px;
    }
    
    .video_conteiner{
        display: grid;
        position: relative;    
    }
    
    .video_conteiner_item--top{
        position: absolute;
        width: 85px;
        height: 85px;
        top: 2100px;
        left: 650px;
    }
    
    .video_conteiner_item--bottom{
        position: absolute;
        width: 817px;
        height: 434px;
        flex-shrink: 0;
        top: 1900px;
        left: 280px;
        grid-column: auto / auto;
        grid-row: 1;
        z-index: auto;
    }
    
    .title_chapter_3_1{
        text-align: center;
        position: absolute;
        align-items: center;
        justify-content: space-around;
        padding-top: 289.5px;
        margin-left: 7.76px;
        margin-bottom: 257.21px;
        padding-left: 693px;   
    }
    
    .hero3{
        background-image: url('../мебель/JPG/');
        background-size: cover;
        width: 1440px;
        height: 1074px;
        padding-top: 107px;
    }
    
    .title_description{
        display: flex;
        color: #363636;
        text-align: center;
        font-family: Nunito Sans;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 204.6%;
        width: 681px;
        height: 130.911px;
        flex-shrink: 0;
        padding-top: 198.5px;
        margin-left: 380px;
        margin-right: 379px;
    }
    
    .form {
        display: flex;
        justify-content: center;
      }
      
      .form__name {
        padding: 8px;
        border: none;
        background-color: #FFFFFF;
        border: 0;
        border-bottom: 1px solid #363636;
        background-color: rgba(0,0,0,0);
        outline: 0; 
        margin-left: -136px;
        margin-top: -10px;
      }
      
      .form__phone {
        padding: 8px;
        border: none;
        background-color: #FFFFFF;
        border: 0;
        border-bottom: 1px solid #363636;
        background-color: rgba(0,0,0,0);
        outline: 0; 
        margin-left: -100px;
        margin-top: -15px;
      }
    
      .form__button {
        display: flex;
        color: #FFF;
        text-align: center;
        font-family: Nunito Sans;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 204.6%;
        text-transform: uppercase;
        flex-shrink: 0;
        border-radius: none;
        background: #E3B873;
        margin-left: 100px;
        margin-top: -50px;
      }
    
      .form__button {
        text-decoration: underline;
        color: #fff;
        border: none;
        padding: 20px 76px 4px 75px;
        width: 200px;
        height: 51px;
        text-align: center;
      }
      
      input::placeholder {
        color: rgba(0, 0, 0, 0.4);
      }
      
      .input{
        border: 0;
        border-bottom: 1px solid #363636;
        background-color: #363636;
        outline: 0;  
      }
    
      .required_1{
        display: flex;
        color: rgba(54, 54, 54, 0.50);
        font-family: Nunito Sans;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 163.68%;
        width: 319.853px;
        height: 12px;
        flex-shrink: 0;
        margin-top: 63.46px;
        margin-left: -136px;
      }
    
      .required_2{
        display: flex;
        color: rgba(54, 54, 54, 0.50);
        font-family: Nunito Sans;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 163.68%;
        width: 55.106px;
        height: 12px;
        flex-shrink: 0;
        margin-top: 63.46px;
        margin-left: -90.99px;
      }
    
    .title_description_1_1{
        width: 18px;
        height: 18px;
        flex-shrink: 0;
        margin-top: 36px;
        margin-left: 575.19px;
    }
    
    .title_description_1_2{
        display: flex;
        color: #181818;
        font-family: Nunito Sans;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 163.68%;
        width: 259px;
        height: 16.238px;
        flex-shrink: 0;
        margin-top: -25px;
        margin-left: 600px;
    }
    
    .title_description_2_1{
        display: flex;
        color: #181818;
        text-align: center;
        font-family: Yeseva One;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 138.6%;
        text-transform: uppercase;
        width: 257px;
        height: 26px;
        flex-shrink: 0; 
        margin-top: 147px;
        margin-left: 640px;
    }
    
    .title_description_2_2{
        display: flex;
        width: 114px;
        height: 28px;
        flex-shrink: 0;
        margin-top: 13px;
        margin-left: 663px;
    }
    
    .types_of_repairs_1_1{
        position: relative;
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
        width: 392px;
        height: 421px;
        flex-shrink: 0;
        margin: 30px;
    }
    
    .types_of_repairs_1_1{
        margin-left: 103px; 
        margin-top: 31px;
    }
    .types_of_repairs_1_2{
        position: relative;
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
        width: 392px;
        height: 421px;
        flex-shrink: 0;
        margin: 30px;
    }
    
    .types_of_repairs_1_2{
        margin-top: 31px;
    }
    
    .types_of_repairs_1_3{
        position: relative;
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
        width: 392px;
        height: 421px;
        flex-shrink: 0;
        margin: 30px;
    }
    
    .types_of_repairs_1_3{
        margin-top: 31px;
    }
    
    .container_types_of_repairs{
        position: absolute;
        Width: 330px;
        Height: 286px;
        Left: 134px;
        z-index: 2;
        top: 3400px;
        opacity: 1;
    }
    
    .types_of_repairs_2_1{
        position: relative;
        color: #363636;
        font-family: Yeseva One;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 138.6%;
        width: 228px;
        height: 21px;
        flex-shrink: 0;
        z-index: 3;
        margin-left: 168px;
        margin-top: -165px;
    }
    
    .types_of_repairs_item_2{
        position: relative;  
        color: #959595;
        font-family: Nunito Sans;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 204.6%;
        z-index: 3;
        margin-left: 138px;
        margin-top: 0;
    }
    
    .button_types_of_repairs_item_2{
        color: #FFF;
        font-family: Yeseva One;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 138.6%;
        text-transform: uppercase;
        width: 185.119px;
        height: 20px;
        flex-shrink: 0;
    }
    
    .button_types_of_repairs_item_2{
        position: relative;
        width: 228px;
        height: 54px;
        background: #E3B873;
        box-shadow: 5px 5px 10px 0px rgba(227, 184, 115, 0.30);
        margin-left: 135px;
        margin-top: -10px;
        z-index: 3;
    }
    
    .container_types_of_repairs_2{
        position: absolute;
        Width: 330px;
        Height: 286px;
        Left: 606px;
        z-index: 2;
        top: 3400px;
        opacity: 1;
    }
    
    .types_of_repairs_2_2{
        position: relative;
        color: #363636;
        font-family: Yeseva One;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 138.6%;
        z-index: 3;
        margin-left: 626px;
        margin-top: -285px;
    }
    
    .types_of_repairs_item_3{
        position: relative;  
        color: #959595;
        font-family: Nunito Sans;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 204.6%;
        z-index: 3;
        margin-left: 600px;
        margin-top: 0;
    }
    
    .button_types_of_repairs_item_3{
        color: #FFF;
        font-family: Yeseva One;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 138.6%;
        text-transform: uppercase;
        width: 194.854px;
        height: 20px;
        flex-shrink: 0;
    }
    
    .button_types_of_repairs_item_3{
        position: relative;
        width: 228px;
        height: 54px;
        background: #E3B873;
        box-shadow: 5px 5px 10px 0px rgba(227, 184, 115, 0.30);
        margin-left: 606px;
        margin-top: -10px;
        z-index: 3;
    }
    
    .container_types_of_repairs_3{
        position: absolute;
        Width: 330px;
        Height: 286px;
        Left: 1058px;
        z-index: 2;
        top: 3400px;
        opacity: 1;
    }
    
    .types_of_repairs_2_3{
        position: relative;
        color: #363636;
        font-family: Yeseva One;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 138.6%;
        z-index: 3;
        margin-left: 1078px;
        margin-top: -285px;
    }
    
    .types_of_repairs_item_4{
        position: relative;  
        color: #959595;
        font-family: Nunito Sans;
        font-size: 13px;
        font-style: normal;
        font-weight: 400;
        line-height: 204.6%;
        z-index: 3;
        margin-left: 1050px;
        margin-top: 0;
    }
    
    .button_types_of_repairs_item_4{
        color: #FFF;
        font-family: Yeseva One;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 138.6%;
        text-transform: uppercase;
        width: 194.854px;
        height: 20px;
        flex-shrink: 0;
    }
    
    .button_types_of_repairs_item_4{
        position: relative;
        width: 228px;
        height: 54px;
        background: #E3B873;
        box-shadow: 5px 5px 10px 0px rgba(227, 184, 115, 0.30);
        margin-left: 1058px;
        margin-top: -10px;
        z-index: 3;
    }
    
    .hero4-container{
        display: flex;
        justify-content: space-between;
        height: 3979px;
        width: 1440px;
        float: left;
    }
    .types_of_repairs_1_1_1{
        width: 1643px;
        height: 725px;
        top: -47px;
        left: -303px;
        
    }
    
    .types_of_repairs_1_1_2{
        Width: 1440px;
        Height: 1017.86px;
        Top: 808px;
        Left: 1px;
    }
    
    
    .types_of_repairs_1_1_3{
        Width: 1236px;
        Height: 642.03px;
        Top: 1895px;
        Left: 103px;
    }
    
    .types_of_repairs_1_1_4{
        width: 1440px;
        height: 953.90px;
        top: 1891.65px;
        margin-top: -200px;
        z-index: 1;    
        background: linear-gradient(180deg, rgba(24, 24, 24, 0.90) 3.47%, rgba(24, 24, 24, 0.72) 100%);
    }  
    .types_of_repairs_1_1_5{
        Width: 883px;
        Height: 445.32px;
        Top: 2868.99px;
        Left: 288.7px;
        margin-left: 288.7px;
        z-index: 2;
        background: #C4C4C4;
    }
       
    .types_of_repairs_1_1_6{
        Width: 1440px;
        Height: 663.93px;
        Top: 3314.62px;
        margin-top: -800px;
    }
    
    .types_of_repairs_1_1_7{
        Width: 589px;
        Height: 199.33px;
        Top: 3166.32px;
        Left: 425px;
        z-index: 2;
        margin-top: -800px;
        margin-left: 425px;
        margin-bottom: 550px;
    }
     